# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
.venv/

# Flask-related files
instance/
*.sqlite3
game_state.db

# Static files
static/*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

game_state.json