# Backend
*.pyc
__pycache__/
env/
*.sqlite3
.DS_Store

# Frontend
node_modules/
dist/

# Logs
logs/
*.log

# OS-specific files
Thumbs.db
Desktop.ini

# IDE-specific files
.vscode/
.idea/
*.iml

alembic.ini
.env